*{
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #9C835F;
};

section {
    display: flex;
    justify-content: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mgt40{
    margin-top: 40px;
}
.basis{
    flex-basis: 33%;
}

.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.img {
    width: 6rem;
    height: 6rem;
    padding: 20px;
    border-radius: 30px;
}

.vs{
    color: red;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.statusss{
    transform: rotate(-35deg);
    text-align: center;
    width: 100px;
    height: 35px;
    padding: 20px;
    border-radius: 10px;
    background-color: #4C9654;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

#com-batu{
    border-radius: 30px;
}

.disableClick {
    pointer-events: none;
}

img:hover{
    animation:  shake 0.6s infinite;
}

@keyframes shake {
    0%{
        transform: translate(0px, 0px) rotate(0deg);
    }  
    25%{
        transform: translate(1px, 1px) rotate(1deg);
    }  
    50%{
        transform: translate(-1px, -1px) rotate(-1deg);
    }  
    75%{
        transform: translate(2px, -1px) rotate(2deg);
    }  
    100%{
        transform: translate(-2px, 1px) rotate(-1deg);
    }  
}